				@font-face {
					font-family: 'activists-regular';
					src: url('4055Activists-Regular.woff2') format('woff2'),
						url('4055Activists-Regular.woff') format('woff');
					  font-display: auto;
				}

				.activists-regular{font-family: 'activists-regular' !important;}

						@font-face {
					font-family: 'adinekir';
					src: url('3337adinekir.woff2') format('woff2'),
						url('3337adinekir.woff') format('woff');
					  font-display: auto;
				}

				.adinekir{font-family: 'adinekir' !important;}

						@font-face {
					font-family: 'analogue';
					src: url('4670Analogue.woff2') format('woff2'),
						url('4670Analogue.woff') format('woff');
					  font-display: auto;
				}

				.analogue{font-family: 'analogue' !important;}

						@font-face {
					font-family: 'bavaria-gates';
					src: url('5752Bavaria-Gates.woff2') format('woff2'),
						url('5752Bavaria-Gates.woff') format('woff');
					  font-display: auto;
				}

				.bavaria-gates{font-family: 'bavaria-gates' !important;}

						@font-face {
					font-family: 'belgan-aesthetic';
					src: url('8646Belgan-Aesthetic.woff2') format('woff2'),
						url('8646Belgan-Aesthetic.woff') format('woff');
					  font-display: auto;
				}

				.belgan-aesthetic{font-family: 'belgan-aesthetic' !important;}

						@font-face {
					font-family: 'biancha-script-demo';
					src: url('3595Biancha-Script-Demo.woff2') format('woff2'),
						url('3595Biancha-Script-Demo.woff') format('woff');
					  font-display: auto;
				}

				.biancha-script-demo{font-family: 'biancha-script-demo' !important;}

						@font-face {
					font-family: 'bickham-script-pro-r';
					src: url('7516Bickham-Script-Pro-R.woff2') format('woff2'),
						url('7516Bickham-Script-Pro-R.woff') format('woff');
					  font-display: auto;
				}

				.bickham-script-pro-r{font-family: 'bickham-script-pro-r' !important;}

						@font-face {
					font-family: 'boheme-floral';
					src: url('9190Boheme-Floral.woff2') format('woff2'),
						url('9190Boheme-Floral.woff') format('woff');
					  font-display: auto;
				}

				.boheme-floral{font-family: 'boheme-floral' !important;}

						@font-face {
					font-family: 'creattion';
					src: url('7004Creattion.woff2') format('woff2'),
						url('7004Creattion.woff') format('woff');
					  font-display: auto;
				}

				.creattion{font-family: 'creattion' !important;}

						@font-face {
					font-family: 'editors-light';
					src: url('1632Editors-Light.woff2') format('woff2'),
						url('1632Editors-Light.woff') format('woff');
					  font-display: auto;
				}

				.editors-light{font-family: 'editors-light' !important;}

						@font-face {
					font-family: 'gallerymodern-webfon';
					src: url('8500gallerymodern-webfon.woff2') format('woff2'),
						url('8500gallerymodern-webfon.woff') format('woff');
					  font-display: auto;
				}

				.gallerymodern-webfon{font-family: 'gallerymodern-webfon' !important;}

						@font-face {
					font-family: 'hatolie';
					src: url('8288Hatolie.woff2') format('woff2'),
						url('8288Hatolie.woff') format('woff');
					  font-display: auto;
				}

				.hatolie{font-family: 'hatolie' !important;}

						@font-face {
					font-family: 'iskry-regular';
					src: url('7531Iskry-Regular.woff2') format('woff2'),
						url('7531Iskry-Regular.woff') format('woff');
					  font-display: auto;
				}

				.iskry-regular{font-family: 'iskry-regular' !important;}

						@font-face {
					font-family: 'italiana-regular';
					src: url('5676Italiana-Regular.woff2') format('woff2'),
						url('5676Italiana-Regular.woff') format('woff');
					  font-display: auto;
				}

				.italiana-regular{font-family: 'italiana-regular' !important;}

						@font-face {
					font-family: 'laluxesscript-regula';
					src: url('2462LaLuxesScript-Regula.woff2') format('woff2'),
						url('2462LaLuxesScript-Regula.woff') format('woff');
					  font-display: auto;
				}

				.laluxesscript-regula{font-family: 'laluxesscript-regula' !important;}

						@font-face {
					font-family: 'maglonyfreeversion-r';
					src: url('362Maglonyfreeversion-R.woff2') format('woff2'),
						url('362Maglonyfreeversion-R.woff') format('woff');
					  font-display: auto;
				}

				.maglonyfreeversion-r{font-family: 'maglonyfreeversion-r' !important;}

						@font-face {
					font-family: 'maglonyfreeversion-r';
					src: url('4902Maglonyfreeversion-R.woff2') format('woff2'),
						url('4902Maglonyfreeversion-R.woff') format('woff');
					  font-display: auto;
				}

				.maglonyfreeversion-r{font-family: 'maglonyfreeversion-r' !important;}

						@font-face {
					font-family: 'month-glade';
					src: url('1655month-glade.woff2') format('woff2'),
						url('1655month-glade.woff') format('woff');
					  font-display: auto;
				}

				.month-glade{font-family: 'month-glade' !important;}

						@font-face {
					font-family: 'oakes-grotesk-regula';
					src: url('8824Oakes-Grotesk-Regula.woff2') format('woff2'),
						url('8824Oakes-Grotesk-Regula.woff') format('woff');
					  font-display: auto;
				}

				.oakes-grotesk-regula{font-family: 'oakes-grotesk-regula' !important;}

						@font-face {
					font-family: 'pinyonscript';
					src: url('3688PinyonScript.woff2') format('woff2'),
						url('3688PinyonScript.woff') format('woff');
					  font-display: auto;
				}

				.pinyonscript{font-family: 'pinyonscript' !important;}

						@font-face {
					font-family: 'power';
					src: url('5198power.woff2') format('woff2'),
						url('5198power.woff') format('woff');
					  font-display: auto;
				}

				.power{font-family: 'power' !important;}

						@font-face {
					font-family: 'quatera';
					src: url('7828Quatera.woff2') format('woff2'),
						url('7828Quatera.woff') format('woff');
					  font-display: auto;
				}

				.quatera{font-family: 'quatera' !important;}

						@font-face {
					font-family: 'rolasansignature';
					src: url('5704rolasansignature.woff2') format('woff2'),
						url('5704rolasansignature.woff') format('woff');
					  font-display: auto;
				}

				.rolasansignature{font-family: 'rolasansignature' !important;}

						@font-face {
					font-family: 'sinoreta';
					src: url('3718Sinoreta.woff2') format('woff2'),
						url('3718Sinoreta.woff') format('woff');
					  font-display: auto;
				}

				.sinoreta{font-family: 'sinoreta' !important;}

						@font-face {
					font-family: 'sinoreta_personal_us';
					src: url('4432Sinoreta_PERSONAL_US.woff2') format('woff2'),
						url('4432Sinoreta_PERSONAL_US.woff') format('woff');
					  font-display: auto;
				}

				.sinoreta_personal_us{font-family: 'sinoreta_personal_us' !important;}

						@font-face {
					font-family: 'strawberrycupcakes';
					src: url('6931StrawberryCupcakes.woff2') format('woff2'),
						url('6931StrawberryCupcakes.woff') format('woff');
					  font-display: auto;
				}

				.strawberrycupcakes{font-family: 'strawberrycupcakes' !important;}

						@font-face {
					font-family: 'trajan';
					src: url('608trajan.woff2') format('woff2'),
						url('608trajan.woff') format('woff');
					  font-display: auto;
				}

				.trajan{font-family: 'trajan' !important;}

						@font-face {
					font-family: 'anydore';
					src: url('8832anydore.woff2') format('woff2'),
						url('8832anydore.woff') format('woff');
					  font-display: auto;
				}

				.anydore{font-family: 'anydore' !important;}

						@font-face {
					font-family: 'dearsarah';
					src: url('2696DearSarah.woff2') format('woff2'),
						url('2696DearSarah.woff') format('woff');
					  font-display: auto;
				}

				.dearsarah{font-family: 'dearsarah' !important;}

						@font-face {
					font-family: 'spring-in-may';
					src: url('1625Spring-in-may.woff2') format('woff2'),
						url('1625Spring-in-may.woff') format('woff');
					  font-display: auto;
				}

				.spring-in-may{font-family: 'spring-in-may' !important;}

						@font-face {
					font-family: 'dear-sarah';
					src: url('4194Dear-Sarah.woff2') format('woff2'),
						url('4194Dear-Sarah.woff') format('woff');
					  font-display: auto;
				}

				.dear-sarah{font-family: 'dear-sarah' !important;}

						@font-face {
					font-family: 'coffee-extra';
					src: url('4324Coffee-Extra.woff2') format('woff2'),
						url('4324Coffee-Extra.woff') format('woff');
					  font-display: auto;
				}

				.coffee-extra{font-family: 'coffee-extra' !important;}

						@font-face {
					font-family: 'autumn';
					src: url('6592autumn.woff2') format('woff2'),
						url('6592autumn.woff') format('woff');
					  font-display: auto;
				}

				.autumn{font-family: 'autumn' !important;}

						@font-face {
					font-family: 'freestyle';
					src: url('8024freestyle.woff2') format('woff2'),
						url('8024freestyle.woff') format('woff');
					  font-display: auto;
				}

				.freestyle{font-family: 'freestyle' !important;}

						@font-face {
					font-family: 'rainbow-in-june';
					src: url('6189Rainbow-in-June.woff2') format('woff2'),
						url('6189Rainbow-in-June.woff') format('woff');
					  font-display: auto;
				}

				.rainbow-in-june{font-family: 'rainbow-in-june' !important;}

						@font-face {
					font-family: 'mishka';
					src: url('9576Mishka.woff2') format('woff2'),
						url('9576Mishka.woff') format('woff');
					  font-display: auto;
				}

				.mishka{font-family: 'mishka' !important;}

						@font-face {
					font-family: 'coffe-for-breakfast';
					src: url('4708Coffe-for-breakfast.woff2') format('woff2'),
						url('4708Coffe-for-breakfast.woff') format('woff');
					  font-display: auto;
				}

				.coffe-for-breakfast{font-family: 'coffe-for-breakfast' !important;}

						@font-face {
					font-family: 'hashiba';
					src: url('258Hashiba.woff2') format('woff2'),
						url('258Hashiba.woff') format('woff');
					  font-display: auto;
				}

				.hashiba{font-family: 'hashiba' !important;}

						@font-face {
					font-family: 'calvino';
					src: url('4996Calvino.woff2') format('woff2'),
						url('4996Calvino.woff') format('woff');
					  font-display: auto;
				}

				.calvino{font-family: 'calvino' !important;}

						@font-face {
					font-family: 'winterbeauty-script';
					src: url('8605Winterbeauty-Script.woff2') format('woff2'),
						url('8605Winterbeauty-Script.woff') format('woff');
					  font-display: auto;
				}

				.winterbeauty-script{font-family: 'winterbeauty-script' !important;}

						@font-face {
					font-family: 'back-to-school';
					src: url('188Back-to-School.woff2') format('woff2'),
						url('188Back-to-School.woff') format('woff');
					  font-display: auto;
				}

				.back-to-school{font-family: 'back-to-school' !important;}

						@font-face {
					font-family: 'revania';
					src: url('3283Revania.woff2') format('woff2'),
						url('3283Revania.woff') format('woff');
					  font-display: auto;
				}

				.revania{font-family: 'revania' !important;}

						@font-face {
					font-family: 'italianno';
					src: url('681Italianno.woff2') format('woff2'),
						url('681Italianno.woff') format('woff');
					  font-display: auto;
				}

				.italianno{font-family: 'italianno' !important;}

						@font-face {
					font-family: 'traditional-arabic';
					src: url('5819traditional-arabic.woff2') format('woff2'),
						url('5819traditional-arabic.woff') format('woff');
					  font-display: auto;
				}

				.traditional-arabic{font-family: 'traditional-arabic' !important;}

						@font-face {
					font-family: 'redrains-demo';
					src: url('9765redrains-demo.woff2') format('woff2'),
						url('9765redrains-demo.woff') format('woff');
					  font-display: auto;
				}

				.redrains-demo{font-family: 'redrains-demo' !important;}

						@font-face {
					font-family: 'black-rotela';
					src: url('2708Black-Rotela.woff2') format('woff2'),
						url('2708Black-Rotela.woff') format('woff');
					  font-display: auto;
				}

				.black-rotela{font-family: 'black-rotela' !important;}

						@font-face {
					font-family: 'mainstay';
					src: url('4887Mainstay.woff2') format('woff2'),
						url('4887Mainstay.woff') format('woff');
					  font-display: auto;
				}

				.mainstay{font-family: 'mainstay' !important;}

						@font-face {
					font-family: 'monoline';
					src: url('9048monoline.woff2') format('woff2'),
						url('9048monoline.woff') format('woff');
					  font-display: auto;
				}

				.monoline{font-family: 'monoline' !important;}

						@font-face {
					font-family: 'praise';
					src: url('3375Praise.woff2') format('woff2'),
						url('3375Praise.woff') format('woff');
					  font-display: auto;
				}

				.praise{font-family: 'praise' !important;}

						@font-face {
					font-family: 'playball';
					src: url('6135playball.woff2') format('woff2'),
						url('6135playball.woff') format('woff');
					  font-display: auto;
				}

				.playball{font-family: 'playball' !important;}

						@font-face {
					font-family: 'the-californication';
					src: url('1996The-Californication.woff2') format('woff2'),
						url('1996The-Californication.woff') format('woff');
					  font-display: auto;
				}

				.the-californication{font-family: 'the-californication' !important;}

						@font-face {
					font-family: 'photograph';
					src: url('3736photograph.woff2') format('woff2'),
						url('3736photograph.woff') format('woff');
					  font-display: auto;
				}

				.photograph{font-family: 'photograph' !important;}

						@font-face {
					font-family: 'muthiara';
					src: url('983Muthiara.woff2') format('woff2'),
						url('983Muthiara.woff') format('woff');
					  font-display: auto;
				}

				.muthiara{font-family: 'muthiara' !important;}

						@font-face {
					font-family: 'high_spirited';
					src: url('3351high_spirited.woff2') format('woff2'),
						url('3351high_spirited.woff') format('woff');
					  font-display: auto;
				}

				.high_spirited{font-family: 'high_spirited' !important;}

						@font-face {
					font-family: 'bernardo';
					src: url('1433Bernardo.woff2') format('woff2'),
						url('1433Bernardo.woff') format('woff');
					  font-display: auto;
				}

				.bernardo{font-family: 'bernardo' !important;}

						@font-face {
					font-family: 'grithani';
					src: url('8737grithani.woff2') format('woff2'),
						url('8737grithani.woff') format('woff');
					  font-display: auto;
				}

				.grithani{font-family: 'grithani' !important;}

						@font-face {
					font-family: 'agencyfb-bold';
					src: url('2450AgencyFB-Bold.woff2') format('woff2'),
						url('2450AgencyFB-Bold.woff') format('woff');
					  font-display: auto;
				}

				.agencyfb-bold{font-family: 'agencyfb-bold' !important;}

						@font-face {
					font-family: 'cream-cake';
					src: url('7538Cream-Cake.woff2') format('woff2'),
						url('7538Cream-Cake.woff') format('woff');
					  font-display: auto;
				}

				.cream-cake{font-family: 'cream-cake' !important;}

						@font-face {
					font-family: 'monotype-corsiva';
					src: url('7468Monotype-Corsiva.woff2') format('woff2'),
						url('7468Monotype-Corsiva.woff') format('woff');
					  font-display: auto;
				}

				.monotype-corsiva{font-family: 'monotype-corsiva' !important;}

						@font-face {
					font-family: 'mutiara';
					src: url('1154mutiara.woff2') format('woff2'),
						url('1154mutiara.woff') format('woff');
					  font-display: auto;
				}

				.mutiara{font-family: 'mutiara' !important;}

						@font-face {
					font-family: 'carolyna-pro-black';
					src: url('7760Carolyna-Pro-Black.woff2') format('woff2'),
						url('7760Carolyna-Pro-Black.woff') format('woff');
					  font-display: auto;
				}

				.carolyna-pro-black{font-family: 'carolyna-pro-black' !important;}

						@font-face {
					font-family: 'belisha';
					src: url('7432Belisha.woff2') format('woff2'),
						url('7432Belisha.woff') format('woff');
					  font-display: auto;
				}

				.belisha{font-family: 'belisha' !important;}

						@font-face {
					font-family: 'bohemian';
					src: url('5896bohemian.woff2') format('woff2'),
						url('5896bohemian.woff') format('woff');
					  font-display: auto;
				}

				.bohemian{font-family: 'bohemian' !important;}

						@font-face {
					font-family: 'bodebeck';
					src: url('6318bodebeck.woff2') format('woff2'),
						url('6318bodebeck.woff') format('woff');
					  font-display: auto;
				}

				.bodebeck{font-family: 'bodebeck' !important;}

						@font-face {
					font-family: 'the-bernardo';
					src: url('4743The-bernardo.woff2') format('woff2'),
						url('4743The-bernardo.woff') format('woff');
					  font-display: auto;
				}

				.the-bernardo{font-family: 'the-bernardo' !important;}

						@font-face {
					font-family: 'vogue';
					src: url('4673Vogue.woff2') format('woff2'),
						url('4673Vogue.woff') format('woff');
					  font-display: auto;
				}

				.vogue{font-family: 'vogue' !important;}

						@font-face {
					font-family: 'akayakanadaka-regula';
					src: url('2407AkayaKanadaka-Regula.woff2') format('woff2'),
						url('2407AkayaKanadaka-Regula.woff') format('woff');
					  font-display: auto;
				}

				.akayakanadaka-regula{font-family: 'akayakanadaka-regula' !important;}

						@font-face {
					font-family: 'bebasneue-regular';
					src: url('274BebasNeue-Regular.woff2') format('woff2'),
						url('274BebasNeue-Regular.woff') format('woff');
					  font-display: auto;
				}

				.bebasneue-regular{font-family: 'bebasneue-regular' !important;}

						@font-face {
					font-family: 'chilanka-regular';
					src: url('4684Chilanka-Regular.woff2') format('woff2'),
						url('4684Chilanka-Regular.woff') format('woff');
					  font-display: auto;
				}

				.chilanka-regular{font-family: 'chilanka-regular' !important;}

						@font-face {
					font-family: 'deliusswashcaps-regu';
					src: url('7023DeliusSwashCaps-Regu.woff2') format('woff2'),
						url('7023DeliusSwashCaps-Regu.woff') format('woff');
					  font-display: auto;
				}

				.deliusswashcaps-regu{font-family: 'deliusswashcaps-regu' !important;}

						@font-face {
					font-family: 'hennypenny-regular';
					src: url('7311HennyPenny-Regular.woff2') format('woff2'),
						url('7311HennyPenny-Regular.woff') format('woff');
					  font-display: auto;
				}

				.hennypenny-regular{font-family: 'hennypenny-regular' !important;}

						@font-face {
					font-family: 'italiana-regular';
					src: url('658Italiana-Regular.woff2') format('woff2'),
						url('658Italiana-Regular.woff') format('woff');
					  font-display: auto;
				}

				.italiana-regular{font-family: 'italiana-regular' !important;}

						@font-face {
					font-family: 'matrix';
					src: url('54matrix.woff2') format('woff2'),
						url('54matrix.woff') format('woff');
					  font-display: auto;
				}

				.matrix{font-family: 'matrix' !important;}

						@font-face {
					font-family: 'mvboli';
					src: url('3442mvboli.woff2') format('woff2'),
						url('3442mvboli.woff') format('woff');
					  font-display: auto;
				}

				.mvboli{font-family: 'mvboli' !important;}

						@font-face {
					font-family: 'pinyonscript-regular';
					src: url('8561PinyonScript-Regular.woff2') format('woff2'),
						url('8561PinyonScript-Regular.woff') format('woff');
					  font-display: auto;
				}

				.pinyonscript-regular{font-family: 'pinyonscript-regular' !important;}

						@font-face {
					font-family: 'poorstory-regular';
					src: url('3499PoorStory-Regular.woff2') format('woff2'),
						url('3499PoorStory-Regular.woff') format('woff');
					  font-display: auto;
				}

				.poorstory-regular{font-family: 'poorstory-regular' !important;}

						@font-face {
					font-family: 'rumraisin-regular';
					src: url('7120RumRaisin-Regular.woff2') format('woff2'),
						url('7120RumRaisin-Regular.woff') format('woff');
					  font-display: auto;
				}

				.rumraisin-regular{font-family: 'rumraisin-regular' !important;}

						@font-face {
					font-family: 'skranji-regular';
					src: url('197Skranji-Regular.woff2') format('woff2'),
						url('197Skranji-Regular.woff') format('woff');
					  font-display: auto;
				}

				.skranji-regular{font-family: 'skranji-regular' !important;}

						@font-face {
					font-family: 'sweet-saturday';
					src: url('7457Sweet-Saturday.woff2') format('woff2'),
						url('7457Sweet-Saturday.woff') format('woff');
					  font-display: auto;
				}

				.sweet-saturday{font-family: 'sweet-saturday' !important;}

						@font-face {
					font-family: 'tangerine_regular';
					src: url('2400Tangerine_Regular.woff2') format('woff2'),
						url('2400Tangerine_Regular.woff') format('woff');
					  font-display: auto;
				}

				.tangerine_regular{font-family: 'tangerine_regular' !important;}

						@font-face {
					font-family: 'tangerine';
					src: url('1273Tangerine.woff2') format('woff2'),
						url('1273Tangerine.woff') format('woff');
					  font-display: auto;
				}

				.tangerine{font-family: 'tangerine' !important;}

						@font-face {
					font-family: 'iskry';
					src: url('5871Iskry.woff2') format('woff2'),
						url('5871Iskry.woff') format('woff');
					  font-display: auto;
				}

				.iskry{font-family: 'iskry' !important;}

						@font-face {
					font-family: 'dk-plague-master';
					src: url('515DK-Plague-Master.woff2') format('woff2'),
						url('515DK-Plague-Master.woff') format('woff');
					  font-display: auto;
				}

				.dk-plague-master{font-family: 'dk-plague-master' !important;}

						@font-face {
					font-family: 'newyork';
					src: url('69NewYork.woff2') format('woff2'),
						url('69NewYork.woff') format('woff');
					  font-display: auto;
				}

				.newyork{font-family: 'newyork' !important;}

						@font-face {
					font-family: 'anabele';
					src: url('4123Anabele.woff2') format('woff2'),
						url('4123Anabele.woff') format('woff');
					  font-display: auto;
				}

				.anabele{font-family: 'anabele' !important;}

						@font-face {
					font-family: 'alumatica-regular';
					src: url('2546Alumatica-Regular.woff2') format('woff2'),
						url('2546Alumatica-Regular.woff') format('woff');
					  font-display: auto;
				}

				.alumatica-regular{font-family: 'alumatica-regular' !important;}

						@font-face {
					font-family: 'walbaumdisplay';
					src: url('1450WalbaumDisplay.woff2') format('woff2'),
						url('1450WalbaumDisplay.woff') format('woff');
					  font-display: auto;
				}

				.walbaumdisplay{font-family: 'walbaumdisplay' !important;}

						@font-face {
					font-family: 'paris';
					src: url('6036paris.woff2') format('woff2'),
						url('6036paris.woff') format('woff');
					  font-display: auto;
				}

				.paris{font-family: 'paris' !important;}

						@font-face {
					font-family: 'edensor';
					src: url('1617Edensor.woff2') format('woff2'),
						url('1617Edensor.woff') format('woff');
					  font-display: auto;
				}

				.edensor{font-family: 'edensor' !important;}

						@font-face {
					font-family: 'bon-vivan-regular';
					src: url('5043bon-vivan-regular.woff2') format('woff2'),
						url('5043bon-vivan-regular.woff') format('woff');
					  font-display: auto;
				}

				.bon-vivan-regular{font-family: 'bon-vivan-regular' !important;}

						@font-face {
					font-family: 'collina-regular';
					src: url('7643Collina-Regular.woff2') format('woff2'),
						url('7643Collina-Regular.woff') format('woff');
					  font-display: auto;
				}

				.collina-regular{font-family: 'collina-regular' !important;}

		